* text=auto
*.stasis text eol=crlf
.gitattributes text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
mobile/android/app/src/main/assets/**/assets/manifest.json text eol=lf
runtime/third_party/thorvg/** text eol=lf -whitespace
